@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


.navigation-ports {
  background-color: rgb(240, 250, 255);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Kantumruy Pro", sans-serif;
    width: 20%;
}

.navigation-ports__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
    color: rgb(32, 150, 209);
}
.navigation-ports__hr {
    height: 2px;
    background-color: rgb(212, 241, 255);
    border: 1px solid rgb(177, 230, 255);
}
.navigation-ports__list {
  list-style: none;
  padding: 0;
}

.navigation-ports__item {
  padding: 15px;
  border-bottom: 2px dashed #ddd;
  cursor: pointer;
    background-color: rgb(32, 150, 209);
    color: white;
    font-weight: 600;
}

.navigation-ports__item:first-child{
    border-radius: 10px 10px 0px 0px;
}
.navigation-ports__item:last-child {
  border-radius: 0px 0px 10px 10px;
    border-bottom: none;
}

.navigation-ports__item:hover {
  background-color: rgb(32, 150, 209, 0.9);
}